body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e9ecef; /* Light background for the entire app */
  }
  
  .container {
    max-width:75%;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .p-field {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }